<h2>Is this your first time here?</h2>

<h4>Welcome to the Dal FCS Online Course Delivery system.</h4>
<p>To login and access all available features, use the form on the left.</p>
<p>To get your CSID username to login to Marker, as well as most FCS systems, use the:</p>
<blockquote>
  <a href="https://www.cs.dal.ca/lookup">CSID Username Lookup</a>
</blockquote>

<p>To change your password, using your username and current password, use the:</p>
<blockquote>
  <a href="https://www.cs.dal.ca/password">CSID Password Updater</a>
</blockquote>
<p>(Your inital password is your BannerID number, with a capital B.)</p>

<p>
  <b>If the lookup fails to give you your username</b>, email cshelp@cs.dal.ca immediately with your fullname and BannerID so that we can rectify the situation as soon as possible
</p>

<p>
  <b>If you need to change your password but do not know your current password</b>, visit the CS Help Desk on the 1st floor of the CS Building with your student ID.
</p>